@import url(general.css);
<<<<<<< HEAD

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.buttons{
    display: flex;
    width: 80%;
    gap: 3rem;
    justify-content: right;
    
    
}
svg{
    margin-top: 5px;
    padding: calc(25%);
    
}

.buttons div{
    width: 7rem;
    height: 7rem;
    border: 0.01rem solid rgba(92, 69, 69 , 0.1);
    border-radius: 300px;
    
    color: var(--custom-dark-purple);
    
    box-shadow: var(--custom-dark-purple) 0px 20px 30px -10px;
    opacity: 1;

}
body{
    background-image: url(images/arka-plan-yeni.png);
    
    
    overflow: scroll;
    flex-wrap: wrap;
   
    
}
.main{
    background-color: var(--custom-light-purple);
}
.card-footer{
    margin-top: -200px;
}
.container{
    
    
    
    
    color: var(--custom-dark-purple);
    justify-content: right;
    
    position: absolute;

    left: 25%;
    top: 40%;
    font-size: 20px;
    
    
    
    
}
.text{
    
    max-width: 40rem;
    
    
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    
    
}
.text-purple{
    color: var(--custom-light-purple);
    

}
.key{
 position: absolute ;

 top: 50px;
 left: 500px;


}
.lock{
    position: absolute ;
    top: 300px;
    left: 50px;

}
.bag{
    position: absolute ;
    
   
    top: 50px;
    right: 500px;
   
   
   }
   .mail{
    position: absolute ;
   
    bottom: 100px;
    left: 400px;

   }
   .people{
    position: absolute ;
   
    bottom: 250px;
    right: 300px;
    
   }
   .card{
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    
    gap: 3rem;
    text-align: left;
    

   }
   .card-footer svg {
    max-width: 20px;
   
   }
   .card-header{
    color: var(--custom-dark-purple);
    font-size: 20px;
   }
   .card-data{
    color: var( --custom-purple);
    font-weight: bolder;
   }
   .first-line{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    margin: 1250px 100px 0px 100px;
    
    
    
   }
   .second-line{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 40px 100px 0px 100px;
   }
   a{
    text-decoration: none;
    transition: 0.5s;
   }
 a:hover{
    color: var(--custom-light-purple);
    text-transform: capitalize;

    text-decoration: underline;
 }
 

 @media  screen and (max-width : 1270px) {
    
    .buttons div , .container div {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: unset;
        margin-left: 5px;
        
    
        
    }
    .buttons{
        margin-left: -100px;
    }
    
    .lock , .mail  {
        display: none !important;      
        }

        div.container {
            
            max-width: 45ch;
            max-height: 8ch;
            display:flex;
            flex-direction:row;
            flex-wrap: wrap;
            font-size: 30px;
            
            position:inherit;
            
            text-align: left;
            
            margin-top: 2rem;
                      
           
        }
       
   
        
    }
    @media  screen and (max-width : 600px) {

        .buttons{
            
            margin-left: 50px;
        }
        
    }

=======
>>>>>>> af08d0c9f2b9632e71578c9d99c819359063d9c1
