* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-variation-settings: "wght" var(400),
    "ital" var(0),"SRFF" var(25);
}

html {
    font-family: Arizona,ui-sans-serif,system-ui,
    -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,
    Helvetica Neue,Arial,Noto Sans,sans-serif,
    Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,
    Noto Color Emoji;    
    background-color:  rgb(247, 245, 255);
    tab-size: 4;
}

a {
    text-decoration: none;
}

button {
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
}

header {
    background-color: rgb(247, 245, 255);
    border-color: transparent;
    width: 100%;
    z-index: 30;
    top:0;
    position: fixed;
}

.header {
    transition-timing-function: linear;
    transition-duration: 0.15s;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    height: 6rem;
    max-width: 120rem;
    padding: 0 6rem;
    margin: 0 auto;
}

.header__logo {
    display: flex;
    flex-grow: 0;
    height: 1.5rem;
}

.header__logo a {
    display: flex;
    height: 100%;
}

.header img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.header__options {
    display: block;
    flex-grow: 1;
    margin-top: 0.25rem;
    margin-left: 0.8rem;
}

.header__options ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 0.25rem;
}

.header__options a {
    font-weight: 600;
    color: rgb(73 75 122);
}

.header__options li button {
    border: 0 solid #e5e7eb;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    color: rgb(73 75 122);
    background-color: transparent;
    background-image: none;
}

.header__options li button img {
    width: 1rem;
    height: 1rem;
    transition-duration: .15s;
    transition-property: transform,-webkit-transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.header__options li a:hover,
.header__options li button:hover {
    cursor: pointer;
    color: rgb(109, 74, 255);
}

.header__buttons {
    display: flex;
    flex-shrink: 0;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.header__buttons a {
    line-height: 1.6rem;
    font-size: 1rem;
    padding: 0.375rem 1.25rem;
    border: 2px solid rgb(109 74 255);
    font-weight: 600;
    transition-duration: .15s;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,-webkit-text-decoration-color;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    text-align: center;
    border-radius: 9999px;
    display: inline-block;
}

.header__sign-in {
    color: rgb(109 74 255);
}

.header__new-account {
    background-color: rgb(109, 74, 255);
    color: white;
}

.header__new-account:hover,
.section-two__content a:hover {
    cursor: pointer;
    background-color: rgb(74, 45, 197);
}

.header__new-account:focus,
.section-two__content a:focus {
    cursor: pointer;
    background-color: rgb(55, 37, 128);
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 58vh;
    margin-top: 5rem;
}

.section > div:first-child {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    display: flex;
    align-self: center;
    justify-content: baseline;
    min-height: 100vh;
}

.section > div:first-child div {
    position: relative;
    overflow: hidden;
    object-position: bottom;
    align-self: flex-end;
    width: 100%;
    object-fit: contain;
}

.section > div:first-child div img {
    transition: opacity 500ms linear 0s;
    width: 100%;
}

.section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding-bottom: 9rem;
    text-align: center;
    color: rgba(55, 37, 128, 0.966);
    margin-top: 8rem;
}

.section-one__header {
    width: 60%;
    max-width: 45.625rem;
    align-self: center;
}

.section-one__header div {
    font-size: 1.625rem;
    line-height: 1.23;
    padding-top: 1.25rem;
}

.section-one__header h1 {
    font-size: 3.5rem;
    line-height: 1;
    font-weight: inherit;
}

.section-one__header h1 span {
    font-weight: 100;
}

.section-one__icons {
    align-self: center;
    max-width: 40rem;
    margin-top: 1rem;
}

.section-one__icons > div {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.section-one__link {
    text-decoration: none;
    padding: 1.25rem;
    border-radius: 1.5rem;
    display: inline-block;
    margin-right: 0.375rem;
    color: rgba(55, 37, 128, 0.966);
}

.section-one__link > div {
    width: 6rem;
    height: 6rem;
    margin-bottom: 1rem;
}

.section-one__link img {
    height: 100%;
    filter: drop-shadow(22.7119px 23.941px 80px rgba(74,45,197,.11)) 
    drop-shadow(8.74828px 9.22171px 25.4815px rgba(74,45,197,.0668148)) 
    drop-shadow(1.8506px 1.95075px 6.51852px rgba(74,45,197,.0431852));
    max-width: 100%;
}

.section-one__mail:hover,
.section-one__calendar:hover,
.section-one__drive:hover,
.section-one__vpn:hover
 {
    background-color: #e5e7eb;
    border-radius: 2rem;
}

/* Section Two */

.section-two {
    display: flex;
    position: relative;
    padding-bottom: 3rem;
    padding-top: 3rem;
    max-width: 120rem;
    margin: 0 auto;
}

.section-two__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding-left: 6rem;
    padding-right: 4rem;
    width: 50%;
}

.section-two__content h2 {
    max-width: 39.5rem;
    font-size: 2.25rem;
    line-height: 1.11;
    color: rgb(55 37 128);
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-weight: inherit;
}

.section-two__content p {
    max-width: 37.5rem;
    margin-right: 5rem;
    color: rgb(73 75 122);
    font-size: 1.125rem;
    line-height: 1.55;
    margin-bottom: 1rem;
}

.section-two__content a {
    font-size: 1.375rem;
    line-height: 1.27;
    padding: 0.875rem 2rem;
    background-color: rgb(109 74 255);
    border: 2px solid rgb(109 74 255);
    color: rgb(255 255 255);
    text-decoration: none;
    display: inline-block;
    border-radius: 9999px;
    font-weight: 700;
}

.section-two__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.section-two__image div {
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    width: 100%;
    height: 100%;
    max-width: 960px;
}

.section-two__image img {
    max-width: 100%;
    display: block;
    position: static;
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
}

/* Section Five */

.companies {
    padding: 4rem;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 118vw;
    height: 30rem;
    padding-left: 5rem;
    overflow-x: auto;
    overscroll-behavior:contain;
}

.companies-switch-buttons button {
    background-color: rgb(55, 37, 128);
    font-size: 1.3rem;
    border: none;
    border-radius: 3rem;
    width: 3rem;
    height: 3rem;
    color: white;
    position:relative;
    z-index: 10;
    padding: 0.75rem;
    top: 32vh;
}

.right-angle-button {
    left: 82.5vw;
}

.left-angle-button {
    display: none;
    left: 45rem;
}

.companies-section button:hover {
    cursor: pointer;
}

.company {
    margin-left: 2rem;
    width: 30%;
    height: 25rem;
    color: white;
    border-radius: 1.5rem;
    background-image: url("Images/Section\ 6/quotations.svg"), linear-gradient(rgb(109, 74, 255), rgb(55, 37, 128));
    background-position-x: 1.75rem, 0;
    background-position-y: -1.75rem, 0;
    background-size: 16rem;
    background-repeat: no-repeat, repeat;
    position: static, relative;
    box-shadow: .125rem .125rem .375rem 0 rgba(74,45,197,.04),
    .5rem .5625rem 1.625rem 0 rgba(74,45,197,.07);
}

.company > div {
    height: 100%;
    padding: 4rem;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-content: space-between;
    transition-duration: .3s;
}

.company:nth-child(3) > div {
    background-color: rgba(247, 245, 255, 0.877);
    z-index: 10;
}

.company > div > p {
    font-size: 1.625rem;
    line-height: 1.23;
    height: 100%;
    position: relative;
}

.additional-company-info {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    align-items: center;
    justify-content: flex-start;
}

.additional-company-info img {
    width: 6rem;
    height: 6rem;
    border-radius: 10rem;
}

.additional-company-info p {
    margin-left: 2rem;
    font-size: 1.2rem;
}

.companies-shifting {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    left: 0;
    width: 100%;
    margin-top: 2rem;
}

.companies-shifting li > button {
    border: none;
    border-radius: 4rem;
    height: 0.25rem;
    margin-right: 0.3rem;
}

.left-shift {
    width: 4rem;
    background-color: rgb(109, 74, 255);
}

.right-shift {
    width: 2rem;
    background-color: rgb(226 219 255);
}

/* Section Seven */

.section-seven {
    min-height: 56.5rem;
    row-gap: 3rem;
    padding-left: 6rem;
    padding-bottom: 7rem;
    padding-top:  7rem;
    padding-right: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;
    max-width: 120rem;
    z-index:  0;
}

.section-seven__poster-one,
.section-seven__poster-two
 {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: 4em auto auto;
    column-gap: 3rem;
    row-gap: 3rem;
}

.section-seven__image {
    /* display:  grid; */
    grid-column-start: 2;
    grid-column: 2 / span 4;
    grid-row: 1 / span -1;
}

.section-seven__image > div {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 42.5rem;
    border-radius: 1rem;
    width: 100%;
   /* object-position: center;
    object-fit: cover;*/
}

.section-seven__image > div > img {
    object-fit: cover;
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    max-width: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    transform: translateZ(0);
    transition: opacity .25s linear;
    will-change: opacity;
}

.section-seven__description {
    background-color: white;
    grid-column-start: 1;
    grid-column: 1 / span 4;
    grid-row-start: 2;
    grid-row: 2 / span 1;
    z-index: 10;
    padding: 3rem;
    border-radius: 1.5rem;
    box-shadow: 0 .1rem .375rem 0 rgba(74,45,197,.04),
                0 .5rem 1.375rem 0 rgba(74,45,197,.07),
                0 1.25rem 4.25rem 0 rgba(74,45,197,.11);
}

.section-seven__description h2 {
    color: rgb(55, 37, 128);
    font-size: 2.45rem;
    font-weight: 400;
    line-height: 1.11;
    padding-bottom: 1.5rem;
}

.section-seven__description > div {
    color: rgb(31, 41, 55);
    font-size: 1.125rem;
    line-height: 1.55;
    padding-bottom: 1.5rem;
}

.section-seven__description > a {
    font-weight: 700;
    color: rgb(109, 74, 255);
    line-height: 1.25rem;
    font-size: 1.145rem;
    padding-right: 1.25rem;
    text-decoration-line: none;
    outline: none;
    display: inline-block;
    position: relative;
    transition-duration: 0.1s;
    text-decoration: inherit;
}

.section-seven__description > a > span {
    background-image: linear-gradient(transparent calc(100% - 2px),currentColor 10px);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size .3s;
    
}

.section-seven__description > a > img {
    width: 1rem;
    height: 1rem;
    margin-top: -0.3rem;
    position: absolute;
    right: 0;
    top: 50%;
    vertical-align: middle;
}

/* Section Eight */

.section-eight {
    max-width: 120rem;
    padding-left: 6rem;
    padding-right: 6rem;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
}

.section-eight__image > img {
    width: 5rem;
    height: auto;
    padding-bottom: 1.75rem;
}

.section-eight__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-eight__content h2 {
    color: rgb(55 37 128);
    font-size: 2.25rem;
    line-height: 1.11;
    font-weight: 400;
        margin-bottom: 1.5rem;
}

.section-eight__content > p {
    color: rgb(55 37 128);
    font-size: 1.375rem;
    line-height: 1.27;
        margin-bottom: 1.5rem;
}

.section-eight__content > h2 > span {
    color: rgb(109 74 255);
}

.section-eight__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-eight__button {
    margin-top: 2rem;
}

.section-eight__button > button {
    display: inline-block;
    font-size: 1.375rem;
    line-height: 1.57;
    padding: 0.875rem 2rem;
    background-color: rgb(109 74 255);
    border:none;
    color: rgb(255 255 255);
    transition-duration: .15s;
    border-radius: 9999px;
    min-width: max-content;
}

.section-eight__button > button:hover {
    cursor: pointer;
    background-color: rgb(74, 45, 197);
}

.section-eight__button > button:focus {
    cursor: pointer;
    background-color: rgb(55, 37, 128);
}

.section-eight__icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: calc(2rem*0);
    margin-top: calc(2rem*(1 - 0));
    margin-left: calc(0px*(1 - 0));
    margin-right: calc(0px*0);
}

.section-eight__icon {
    width: 3.5rem;
    height: 3.5rem;
}

.section-eight__icon > img {
    height: 100%;
    max-width: 100%;
}

/* Section Nine */ 

.section-nine {
    display: flex;
    max-width: 120rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    height: 46rem;
}

.section-nine__image {
    max-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;    
    position: relative;
    height: 100%;
}

.section-nine__image img {
    bottom: 0;
    left: 0;
    max-width: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 98%;
    transform: translateZ(0);
    transition: opacity .25s linear;
    will-change: opacity;
    object-fit: contain;
    opacity: 1;
   display: block;
}

.section-nine__content {
    display: flex;
    flex-direction: column;
     text-align: left;
    padding-right: 6rem;
    padding-left: 4rem;
    width: 50%;
    justify-content: center;
}

.section-nine__content h2 {
    max-width: 37.5rem;
    color: rgb(55 37 128);
    font-size: 2.25rem;
    line-height: 1.11;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-weight: inherit;
}

.section-nine__content p {
    max-width: 37.5rem;
    margin-right: 5rem;
    color: rgb(73 75 122);
    font-size: 1.125rem;
    line-height: 1.55;
        margin-bottom: 1rem;
}

.section-nine__link {
    display: inline-block;
    text-decoration-line: none;
}

.section-nine__link a {
    font-weight: 600;
    text-decoration: none;
    color: rgb(109 74 255);
    line-height: 1.25rem;
    font-size: 1.125rem;
    padding-right: 1.25rem;
    display: inline-block;
    position: relative;
    transition-duration: 0.1s; 
}

.section-nine__link > a > img {
    width: 1rem;
    height: 1rem;
    margin-top: -0.35rem;
    position: absolute;
    top: 50%;
    right: 0;
}


/* Footer */

footer {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.footer {
    max-width: 120rem;
    padding-left: 6rem;
    padding-right: 6rem;
    margin-left: auto;
    margin-right: auto;
}

.footer__first-part {
    display: grid;
    grid-template-columns: repeat(5,minmax(0,1fr));
    column-gap: 1rem;
}

.footer__logo {
    width: 5rem;
}

.footer__logo img {
    height: auto;
    max-width: 100%;
}

.footer__first-part > div > div:nth-child(2) {
    width: 10rem;
    margin-top: 1.5rem;
    color: rgb(73, 75, 122);
}

.footer__socials {
    display: flex;
    height: 1.5rem;
    margin-top: 1.25rem;
}

.footer a {
    transition-duration: .1s;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,-webkit-text-decoration-color;
    transition-timing-function: cubic-bezier(0,0,.2,1);
}

.footer a:hover {
    cursor: pointer;
    color: rgb(109, 74, 255);
}

.footer__first-part > div {
    display: block;
}

.footer__title {
    font-weight: inherit;
    color: rgb(55, 37, 128);
    font-size: 1.125rem;
    line-height: 1.55;
    margin-bottom: 2rem;
    font-weight: 700;
}

.footer ul {
    list-style: none;
}

.footer__first-part li {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.footer a {
    color: rgb(55, 37, 128);
    text-decoration: inherit;
    padding: 0 0.1rem;
}

.footer__hiring {
    color: rgb(109, 74, 255);
    text-transform: uppercase;
    font-size: .75rem;
    line-height: 1.34;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    background-color: rgb(226 219 255);
    border-radius: 9999px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    font-weight: 700;
}

.footer hr {
    margin-bottom: 3rem;
    margin-top: 3rem;
    border-color: rgba(226, 219, 255, 0.342);
    border-top-width: 0.5px;
    color: inherit;
    overflow: hidden;
    height: 0;
}

.footer__second-part {
    display: grid;
    grid-template-columns: repeat(5,minmax(0,1fr));
    gap: 1rem;
    margin-bottom: -2rem;
}

.footer__second-part > div {
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    line-height: 1.34;
    width: max-content;
    margin-bottom: 2.5rem;
    color: rgba(73, 75, 122, 0.863);
    font-size: 0.75rem;
    line-height: 1.34;
}

.footer__headline {
    font-weight: 700;
    margin-bottom: 0.75rem;
}

.footer__address {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.footer__second-part > div:nth-child(2) {
    grid-column: 2 / span 3;
    width: 100%;
}

.footer__support-part {
    display: flex;
    flex-direction: column;
    color: rgba(55, 65, 81, 0.856);
}

.footer__support {
    display: flex;
    gap: 1rem;
}

.footer__swiss,
.footer__EU {
    display: flex;
}

.footer__swiss > div,
.footer__EU > div {
    margin-right: 0.5rem;
    color: rgb(55, 65, 81);
}

.footer__swiss > div:nth-child(2) > div:last-child {
    margin-top: 0.25rem;
    font-weight: 700;
}

.footer__language {
    display: flex;
    justify-self: end;
    width: max-content;
}

.footer__language button {
    font-size: 1rem;
    line-height: 1.7;
    padding: 0.375rem 1.25rem;
    border-color: rgb(109 74 255);
    border-width: 2px;
    color: rgb(109 74 255);
    text-decoration-line: none;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    background-image: none;
    background-color: transparent;
    font-family: inherit;
    text-transform: none;
    transition-duration: .1s;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,-webkit-text-decoration-color;
    transition-timing-function: cubic-bezier(0,0,.2,1);
}

.footer__language button:hover,
.header__sign-in:hover {
    cursor: pointer;
    background-color: rgb(239 235 255);
    color: rgb(74 45 197);
}

.footer__language button:focus,
.header__sign-in:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.footer__language img {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
}

.footer__arrow {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    display: block;
    vertical-align: middle;
}

.footer__third-part ul{
    display: flex;
    flex-direction: row;
    column-gap: 2.5rem;
    row-gap: 1rem;
    margin: 3rem 0;
    flex-wrap: wrap;
}

.footer__fourth-part {
    font-size: .75rem;
    line-height: 1.34;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}

.footer__fourth-part ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1rem;
}

.footer__fourth-part ul > li:first-child {
    padding-right: 0.5rem;
}

.footer__fourth-part ul > li:nth-child(n + 2) {
    border-left: 1px solid rgb(197 183 255);
    border-right: 1px solid rgb(197 183 255);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.footer__fourth-part ul > li:last-child {
    padding-right: 0;
    border-right: none;
}

.footer__fourth-part li,
.footer__fourth-part a
{
    color: rgba(55, 37, 128, 0.767);
}

@media (max-width: 1265px) {
    .company {
        height: 30rem;
    }
}

@media (max-width: 1171px) {
    .company {
        height: 30rem;
    }
}

@media (max-width: 1111px) {
    .company > div {
        height: 75%;
    }
}

@media (max-width: 1098px) {
    .company {
        height: 33rem;
    }
    .company > div > p {
        font-size: 1.6rem;
    }
}

@media (max-width: 1023px) {
    .companies {
        width:300rem;
        padding-left: 0;
        justify-content: flex-start;
    }

    .companies-switch-buttons button {
        top: 37vh;
    }

    .right-angle-button {
        left: 93.5vw;
    }

    .left-angle-button {
        right: 94vw;
    }

    .company {
        height: 14rem;
        min-height: 13rem;
        width: calc(93vw);
        background-size: 12rem;
    }

    .company > div {
        padding: 2rem;
        height: 73%;
        width: 90%;
    }
    .company > div > p {
        font-size: 1.5rem;
    }

    .additional-company-info {
        margin-top: 0;
    }

    .additional-company-info img {
        height: 3.5rem;
        width: 3.5rem;
    }
    .additional-company-info p {
        font-weight: 500;
        margin-left: 2rem;
        font-size: 1rem;
    }
}

@media (max-width: 872px) {
    .company {
        height: 16rem;
    }
}

@media (max-width: 639px) {
    .company {
        height: 14.9rem;
    }
}

@media (max-width: 581px) {
    .company {
        width: 90vw;
        height: 16rem;
    }
}

@media (max-width: 476px) {
    .company {
        height: 18.3rem;
    }
}

@media (max-width: 409px) {
    .company {
        width: 86vw;
        height: 20rem;
    }
    
    .company > div {
        width: 70vw
    }

    .additional-company-info {
        margin-top: 2rem;
    }

     .company > div > p {
        font-size: 1.4rem;
    }
}

@media (max-width: 355px) {
    .company {
        height: 21.9rem;
    }

    .company > div {
        width: 69vw;
        height: 82%;
    }
}

@media (max-width: 350px) {
    .company {
        height: 23.5rem;
    }

    .company > div {
        height: 83%;
    }
}

@media (max-width: 311px) {
    .company {
        width: 82vw;
        height: 25.5rem;
    }

    .company > div {
        width: 64vw;
        height: 86%;
    }
}

@media (max-width: 283px) {
    .company {
        height: 27rem;
    }

    .company > div {
        padding-left: 1.7rem;
    }
}

@media (max-width: 270px) {
    .company {
        height: 29rem;
    }

    .company > div {
        margin-left: 0.2rem;
        width: 59.5vw;
    }

    .additional-company-info p {
        margin-left: 1.2rem;
    }
}

@media (max-width: 252px) {
    .company {
        height: 30.5rem;
    }
}

@media (max-width: 244px) {
    .company {
        height: 32.3rem;
    }

    .company > div {
        height: 89%;
        margin-left: 0.3rem;
        width: 56vw;
    }
}

@media (max-width: 243px) {
    .company {
        height: 34rem;
    }

    .company > div {
        width: 55vw;
    }
}

@media (max-width: 241px) {
    .company {
        height: 36rem;
    }
}

@media (max-width: 235px) {
    .company {
        height: 37.6rem;
    }

    .company > div {
        width: 55vw;
    }
}

@media (max-width: 231px) {
    .company {
        height: 39rem;
    }

    .company > div {
        width: 55vw;
    }
}